.pasos {
background-color: #9b9b9b;
padding: 2em;

}

.paso{
display: grid;

}

.paso-izquierda {
  text-align: left;

}

.paso-derecha {
  text-align: right;
}

.paso img {

padding-left: 1.5%;
}

.texto-paso p{
padding-left: 1.5%;
}
